@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
/* обнуление общих параметров */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
section,
header,
footer {
  display: block;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  min-width: 320px;
  width: 100%;
  background: #fff;
  color: #000;
}

input,
button,
textarea {
  font-family: "Lato", sans-serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/* / обнуление общих параметров */
body {
  font-size: 15px;
  font-family: "Lato", sans-serif;
  position: relative;
  width: 100%;
  overflow-x: hidden;
  color: #929AAC;
  line-height: 1.2;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  background-color: #1b202a;
}

a {
  color: #929AAC;
  transition: 0.4s;
  font-weight: 400;
}
a:hover {
  color: #BE1E28;
}

.container {
  margin: 0 15px 0 15px;
  padding: 0 15px;
}

.page {
  padding-top: 100px;
}

.input_item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 15px;
}
.input_item .required {
  position: relative;
}
.input_item .required::after {
  content: "*";
  color: #BE1E28;
  position: absolute;
  right: -10px;
  top: 0;
}
.input_item .title {
  display: inline-block;
  margin-bottom: 10px;
  order: 1;
  transition: 0.4s;
}
.input_item .input {
  order: 2;
  padding: 10px 15px;
  background-color: transparent;
  border: 1px solid #3A3F49;
  border-radius: 4px;
  color: #929AAC;
  font-size: 15px;
}
.input_item .input.error {
  border: 1px solid #BE1E28;
}
.input_item .inputinput:active + .title, .input_item .input:focus + .title {
  color: #ffffff;
}

.langs {
  border: 1px solid #3A3F49;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 32px;
  width: 38px;
}
.langs:hover .lang_block {
  opacity: 1;
  pointer-events: initial;
}
.langs .lang_block {
  transition: 0.4s;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  margin-top: 5px;
  top: 100%;
  left: 0;
  border: 1px solid #3A3F49;
  border-radius: 4px;
}
.langs .lang_block:after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 100%;
  height: 10px;
}
.langs .lang_block .lang:hover {
  color: #ffffff;
}
.langs .lang_use {
  color: #ffffff;
}
.langs .lang {
  transition: 0.3s;
  cursor: pointer;
  font-size: 16px;
  height: 32px;
  width: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.df {
  display: flex;
  align-items: flex-start;
}
.df .block_340 {
  flex: 0 0 340px;
}
.df .nav_bar {
  position: fixed;
  background: linear-gradient(180deg, #252B3B 0%, #1B202A 100%);
  height: 100vh;
  width: 340px;
  display: flex;
  flex-direction: column;
}
.df .nav_bar .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
  margin-bottom: 80px;
}
.df .nav_bar .top .notice {
  position: relative;
}
.df .nav_bar .top .notice .icon {
  width: 16px;
  height: 16px;
  fill: #929AAC;
}
.df .nav_bar .top .notice.new:after {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: #BE1E28;
  top: 2px;
  right: 1px;
  border-radius: 50%;
}
.df .nav_bar .center {
  flex: 1 1 auto;
}
.df .nav_bar .center .menu_item {
  padding: 0 0 0 65px;
  position: relative;
}
.df .nav_bar .center .menu_item {
  margin-bottom: 25px;
}
.df .nav_bar .center .menu_item:last-of-type {
  margin-bottom: 0;
}
.df .nav_bar .center .menu_item.active:after {
  content: "";
  width: 40px;
  height: 1px;
  background-color: #ffffff;
  position: absolute;
  top: calc(50% - 0.5px);
  left: 0;
}
.df .nav_bar .center .menu_item.active:before {
  content: "";
  width: 6px;
  height: 6px;
  background-color: #ffffff;
  transform: rotate(45deg);
  position: absolute;
  left: 37px;
  top: calc(50% - 3px);
}
.df .nav_bar .center .menu_item.active .menu_link {
  font-weight: 600;
  color: #ffffff;
}
.df .nav_bar .center .menu_item.active .menu_link:hover {
  color: #ffffff;
}
.df .nav_bar .center .menu_link {
  font-weight: 500;
  font-size: 16px;
  color: #929AAC;
  transition: 0.4s;
}
.df .nav_bar .center .menu_link:hover {
  color: #BE1E28;
}
.df .nav_bar .bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
  font-size: 13px;
}
.df .main_block {
  position: relative;
  width: 100%;
}
.df .main_block .top_wrap {
  background-color: #1b202a;
  width: calc(100% - (340px));
  top: 0;
  left: 0;
  margin-left: 340px;
  position: fixed;
}

.row {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
  justify-content: space-between;
}

.justify-content-between {
  justify-content: space-between;
}

.none {
  display: none !important;
}

.body-fixed {
  position: fixed;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

.ibg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.ibg img.ibg-img {
  display: none;
}

li.counter {
  list-style-type: none;
  counter-reset: item;
}
li.counter li {
  position: relative;
  padding: 0px 0px 0px 45px;
}
li.counter li:before {
  counter-increment: item;
  content: counter(item);
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  color: #818181;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  line-height: 26px;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  border: 1px solid #4274bb;
}

.video {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%;
}
.video video,
.video iframe,
.video object,
.video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.videobg video,
.videobg iframe,
.videobg object,
.videobg embed {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.main .center_wrap {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top_wrap {
  background-color: #1b202a;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.top_wrap .top_inner {
  right: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
}
.top_wrap .left {
  display: flex;
  align-items: center;
}
.top_wrap .left .text {
  font-weight: 300;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.top_wrap .left .logo {
  margin-right: 160px;
}
.top_wrap .right {
  display: flex;
  align-items: center;
}

.logo {
  display: block;
  width: 180px;
  height: 32px;
}
.logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}