@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
/* обнуление общих параметров */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
section,
header,
footer {
  display: block;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  min-width: 320px;
  width: 100%;
  background: #fff;
  color: #000;
}

input,
button,
textarea {
  font-family: "Lato", sans-serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/* / обнуление общих параметров */
body {
  font-size: 15px;
  font-family: "Lato", sans-serif;
  position: relative;
  width: 100%;
  overflow-x: hidden;
  color: #929aac;
  line-height: 1.2;
}
@media (max-width: 767px) {
  body {
    font-size: 14px;
  }
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  background-color: #1b202a;
  padding-left: 340px;
}
@media (hover: none) and (pointer: coarse), (max-width: 1024px) {
  .wrapper {
    padding-left: 0;
  }
}

a {
  cursor: pointer;
  color: #929aac;
  transition: 0.4s;
  font-weight: 400;
}
a:hover {
  color: #be1e28;
}

.container {
  padding: 0 15px;
}

.page {
  padding-top: 80px;
  padding-bottom: 50px;
}
@media (hover: none) and (pointer: coarse), (max-width: 1024px) {
  .page {
    padding-top: 95px;
  }
}

.input_item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 15px;
}
.input_item .title_input {
  display: inline-block;
  margin-bottom: 10px;
  order: -1;
  transition: 0.4s color;
}
.input_item .input_text {
  width: 100%;
  padding: 10px 15px;
  background-color: transparent;
  border: 1px solid #3a3f49;
  border-radius: 4px;
  color: #929aac;
  font-size: 15px;
}
.input_item .input_text::placeholder {
  transition: 0.3s;
  font-size: inherit;
  color: #5a5e66;
}
.input_item .input_text:active, .input_item .input_text:focus {
  color: #ffffff;
}
.input_item .input_text:active::placeholder, .input_item .input_text:focus::placeholder {
  opacity: 0;
}
.input_item .input_text:active + .title_input, .input_item .input_text:focus + .title_input {
  color: #ffffff;
}
.input_item input[type=file] {
  display: none;
}
.input_item .input_file {
  font-size: 15px;
  padding: 10px 20px;
  border: 1px solid #ffffff;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.4s color;
  min-width: 185px;
  text-align: center;
}
.input_item .input_file:hover {
  color: #ffffff;
}
.input_item .input_inner {
  display: flex;
}
.input_item .input_inner .input_radio {
  display: flex;
}
.input_item .input_inner .input_radio + .input_radio {
  margin-left: 20px;
}
.input_item .input_inner .input_radio input[type=radio] {
  display: none;
}
.input_item .input_inner .input_radio label {
  cursor: pointer;
  padding-left: 15px;
  position: relative;
  color: #ffffff;
}
.input_item .input_inner .input_radio label:after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border: 2px solid #3a3f49;
  border-radius: 50%;
  left: 0;
  top: calc(50% - 5px);
}
.input_item .input_inner .input_radio label:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  background-color: #ffffff;
  border-radius: 50%;
  left: 3px;
  top: calc(50% - 2px);
  opacity: 0;
}
.input_item .input_inner .input_radio input[type=radio]:checked + label:before {
  opacity: 1;
}
.input_item .select {
  position: relative;
  width: 100%;
  font-size: 15px;
}
.input_item .select input[type=checkbox] {
  display: none;
}
.input_item .select__header {
  background-color: transparent;
  border-radius: 4px;
  color: #929aac;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 10px 15px;
  border: 1px solid #3a3f49;
  border-radius: 4px;
}
.input_item .select__header::after {
  content: "";
  width: 94%;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #3a3f49;
  opacity: 0;
}
.input_item .select__current {
  color: #5a5e66;
}
.input_item .select__current label {
  position: relative;
}
.input_item .select__current label::after {
  content: ",";
  position: absolute;
  bottom: -1px;
  right: -4px;
}
.input_item .select__current label:last-of-type::after {
  content: none;
}
.input_item .select__current label + label {
  margin-left: 8px;
}
.input_item .select__icon {
  transition: 0.3s;
  align-items: center;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  margin-left: auto;
  text-align: center;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 8px solid #ffffff;
}
.input_item .select__body {
  max-height: 140px;
  overflow-y: scroll;
  border: 1px solid #3a3f49;
  background-color: transparent;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top: 0;
  display: none;
  left: 0;
  position: absolute;
  right: 0;
  z-index: 5;
  top: 100%;
}
.input_item .select__body::-webkit-scrollbar {
  width: 3px;
}
.input_item .select__body::-webkit-scrollbar-track {
  background-color: #3a3f49;
}
.input_item .select__body::-webkit-scrollbar-thumb {
  background-color: #ffffff;
}
.input_item .select__item {
  display: block;
  cursor: pointer;
  font-size: 16px;
  line-height: 24px;
  padding: 5px 15px;
  padding-left: 37px;
  position: relative;
  transition: 0.4s;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}
.input_item .select__item::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border: 1px solid #3a3f49;
  border-radius: 4px;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
}
.input_item .select__item::before {
  content: "";
  background-image: url("../img/svg/chek.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 50%;
  left: 17.5px;
  transform: translateY(-50%);
  opacity: 0;
}
.input_item input[type=checkbox]:checked + .select__item::before {
  opacity: 1;
}
.input_item .select__item:hover {
  color: #be1e28;
  border-top: 1px solid #3a3f49;
  border-bottom: 1px solid #3a3f49;
}
.input_item .select__item:hover:first-of-type {
  border-top: 1px solid transparent;
}
.input_item .select__item:hover:last-of-type {
  border-bottom: 1px solid transparent;
}
.input_item .is-active {
  margin-bottom: 140px;
}
.input_item .is-active + .title_input {
  color: #ffffff;
}
.input_item .is-active .select__header {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom: none;
}
.input_item .is-active .select__header::after {
  opacity: 1;
}
.input_item .is-active .select__body {
  display: block;
}
.input_item .is-active .select__icon {
  transform: rotate(180deg);
}
.input_item.required .title_input span {
  position: relative;
}
.input_item.required .title_input span::after {
  content: "*";
  color: #be1e28;
  position: absolute;
  right: -10px;
  top: 0;
}
.input_item.error .input_text,
.input_item.error .select__header,
.input_item.error .select__body {
  border-color: #be1e28;
}

.tabel_wrap.error .tabel {
  border-color: #be1e28;
}

.langs {
  border: 1px solid #3a3f49;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 32px;
  width: 38px;
}
.langs:hover .lang_block {
  opacity: 1;
  pointer-events: initial;
}
.langs .lang_block {
  transition: 0.4s;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  margin-top: 5px;
  top: 100%;
  left: 0;
  border: 1px solid #3a3f49;
  border-radius: 4px;
}
.langs .lang_block:after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 100%;
  height: 10px;
}
.langs .lang_block .lang:hover {
  color: #ffffff;
}
.langs .lang_use {
  color: #ffffff;
}
.langs .lang {
  transition: 0.3s;
  cursor: pointer;
  font-size: 16px;
  height: 32px;
  width: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav_bar .langs {
  display: none;
  margin-right: 15px;
}
@media (hover: none) and (pointer: coarse), (max-width: 1024px) {
  .nav_bar .langs {
    display: block;
  }
}

.main_block .langs {
  display: block;
  margin-right: 15px;
}
@media (hover: none) and (pointer: coarse), (max-width: 1024px) {
  .main_block .langs {
    display: none;
  }
}

.nav_bar {
  top: 0;
  left: 0;
  position: fixed;
  background: linear-gradient(180deg, #252b3b 0%, #1b202a 100%);
  height: 100vh;
  width: 340px;
  display: flex;
  flex-direction: column;
}
@media (hover: none) and (pointer: coarse), (max-width: 1024px) {
  .nav_bar {
    width: 100%;
    pointer-events: none;
    opacity: 0;
    z-index: 120;
  }
}
.nav_bar.active {
  pointer-events: initial;
  opacity: 1;
}
.nav_bar .df {
  display: flex;
  align-items: center;
}
.nav_bar .close_menu {
  display: none;
  margin-left: 15px;
  width: 15px;
  height: 15px;
  position: relative;
  transform: rotate(45deg);
  cursor: pointer;
}
@media (hover: none) and (pointer: coarse), (max-width: 1024px) {
  .nav_bar .close_menu {
    display: block;
  }
}
.nav_bar .close_menu::after, .nav_bar .close_menu:before {
  content: "";
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #ffffff;
  transform: translate(-50%, -50%);
}
.nav_bar .close_menu::after {
  width: 100%;
  height: 1px;
}
.nav_bar .close_menu::before {
  width: 1px;
  height: 100%;
}
.nav_bar .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
  margin-bottom: 80px;
}
@media (max-width: 767px) {
  .nav_bar .top {
    padding: 20px 10px;
  }
}
.nav_bar .top .notice {
  position: relative;
}
.nav_bar .top .notice .icon {
  width: 16px;
  height: 16px;
  fill: #929aac;
}
.nav_bar .top .notice.new:after {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: #be1e28;
  top: 2px;
  right: 1px;
  border-radius: 50%;
}
.nav_bar .center {
  flex: 1 1 auto;
}
.nav_bar .center .menu_item {
  padding: 0 0 0 65px;
  position: relative;
}
@media (hover: none) and (pointer: coarse), (max-width: 1024px) {
  .nav_bar .center .menu_item {
    padding: 0;
    text-align: center;
  }
}
.nav_bar .center .menu_item {
  margin-bottom: 25px;
}
.nav_bar .center .menu_item:last-of-type {
  margin-bottom: 0;
}
.nav_bar .center .menu_item.active:after {
  content: "";
  width: 40px;
  height: 1px;
  background-color: #ffffff;
  position: absolute;
  top: calc(50% - 0.5px);
  left: 0;
}
.nav_bar .center .menu_item.active:before {
  content: "";
  width: 6px;
  height: 6px;
  background-color: #ffffff;
  transform: rotate(45deg);
  position: absolute;
  left: 37px;
  top: calc(50% - 3px);
}
@media (hover: none) and (pointer: coarse), (max-width: 1024px) {
  .nav_bar .center .menu_item.active::after, .nav_bar .center .menu_item.active::before {
    content: none;
  }
}
.nav_bar .center .menu_item.active .menu_link {
  font-weight: 600;
  color: #ffffff;
}
.nav_bar .center .menu_item.active .menu_link:hover {
  color: #ffffff;
}
.nav_bar .center .menu_link {
  font-weight: 500;
  font-size: 16px;
  color: #929aac;
  transition: 0.4s;
}
@media (max-width: 767px) {
  .nav_bar .center .menu_link {
    font-size: 14px;
  }
}
.nav_bar .center .menu_link:hover {
  color: #be1e28;
}
.nav_bar .bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
  font-size: 13px;
}
@media (max-width: 767px) {
  .nav_bar .bottom {
    padding: 20px 10px;
  }
}

.main_block {
  position: relative;
  width: 100%;
}
.main_block .top_wrap {
  font-size: 16px;
  background-color: #1b202a;
  width: calc(100% - (340px));
  top: 0;
  left: 0;
  margin-left: 340px;
  position: fixed;
  z-index: 100;
}
@media (hover: none) and (pointer: coarse), (max-width: 1024px) {
  .main_block .top_wrap {
    width: 100%;
    margin-left: 0;
  }
}
@media (max-width: 767px) {
  .main_block .top_wrap {
    font-size: 14px;
  }
}
@media (hover: none) and (pointer: coarse), (max-width: 1024px) {
  .main_block .top_wrap .top_inner {
    padding: 20px 60px 20px 15px;
  }
}
.main_block .user {
  margin-left: 50px;
  margin-right: 30px;
  display: flex;
  align-items: center;
}
@media (hover: none) and (pointer: coarse), (max-width: 1024px) {
  .main_block .user {
    margin-left: 0;
    margin-right: 0;
  }
}
.main_block .user .photo {
  width: 32px;
  height: 32px;
  border-radius: 50px;
  display: block;
  background-color: #ffffff;
  margin-right: 10px;
  object-fit: contain;
}
.main_block .logo {
  display: none;
}
@media (hover: none) and (pointer: coarse), (max-width: 1024px) {
  .main_block .logo {
    display: block;
  }
}
.main_block .log {
  color: #ffffff;
  transition: 0.4s;
}
.main_block .log:hover {
  color: #be1e28;
}

.top_wrap {
  background-color: #1b202a;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.top_wrap .top_inner {
  right: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
  position: relative;
}
.top_wrap .button_burger {
  display: none;
  position: absolute;
  right: 10px;
  top: calc(50% - 10px);
  width: 30px;
  height: 20px;
  width: 30px;
  height: 20px;
  cursor: pointer;
  -webkit-user-select: none;
          user-select: none;
}
.top_wrap .button_burger::after, .top_wrap .button_burger::before,
.top_wrap .button_burger span {
  content: "";
  position: absolute;
  height: 1px;
  background-color: #ffffff;
  right: 0;
  pointer-events: none;
}
.top_wrap .button_burger::after {
  width: 50%;
  top: 0;
}
.top_wrap .button_burger span {
  width: 75%;
  top: calc(50% - 0.5px);
}
.top_wrap .button_burger::before {
  width: 100%;
  bottom: 0;
}
@media (hover: none) and (pointer: coarse), (max-width: 1024px) {
  .top_wrap .button_burger {
    display: block;
  }
}
.top_wrap .left {
  display: flex;
  flex-direction: column;
}
.top_wrap .left .text {
  font-weight: 300;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
@media (hover: none) and (pointer: coarse), (max-width: 1024px) {
  .top_wrap .left .text {
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  .top_wrap .left .text {
    font-size: 12px;
  }
}
@media (max-width: 450px) {
  .top_wrap .left .text {
    font-size: 9px;
  }
}
.top_wrap .logo {
  margin-bottom: 10px;
}
.top_wrap .right {
  display: flex;
  align-items: center;
}
@media (hover: none) and (pointer: coarse), (max-width: 1024px) {
  .top_wrap .right {
    flex-direction: column;
    align-items: flex-end;
  }
}

.button_1,
.button_2 {
  display: block;
  min-width: 185px;
  text-align: center;
  padding: 10px 20px;
  color: #ffffff;
  text-decoration: none;
  font-weight: 700;
  cursor: pointer;
  border-radius: 4px;
  transition: 0.4s;
}
@media (max-width: 767px) {
  .button_1,
.button_2 {
    min-width: initial;
  }
}

.button_1 {
  border: 2px solid #ffffff;
  background: rgba(58, 63, 73, 0.2);
}
.button_1:hover {
  background: rgba(58, 63, 73, 0.8);
}

.button_2 {
  border: 2px solid #be1e28;
  background-color: rgba(190, 30, 40, 0.5);
}
.button_2:hover {
  background-color: #be1e28;
}

.table_wrapper {
  border: 1px solid #3a3f49;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 15px 25px;
  font-size: 16px;
  color: #ffffff;
  overflow-x: auto;
  margin-bottom: 30px;
}
.table_wrapper::-webkit-scrollbar {
  height: 4px;
  width: 3px;
}
.table_wrapper::-webkit-scrollbar-track {
  background-color: #3a3f49;
}
.table_wrapper::-webkit-scrollbar-thumb {
  background-color: #ffffff;
}
.table_wrapper .table_title {
  margin-bottom: 20px;
}
.table_wrapper .table_title_big {
  font-style: italic;
  font-size: 20px;
  color: #929aac;
}
.table_wrapper .table {
  min-width: 800px;
  margin-bottom: 25px;
  border-radius: 4px 4px 0 0;
  overflow: hidden;
}
.table_wrapper .table .t_row {
  display: flex;
}
.table_wrapper .table .t_row:nth-child(2n+1) {
  background: rgba(58, 63, 73, 0.1);
}
.table_wrapper .table .t_column {
  width: 100%;
  max-width: 100%;
  padding: 7px 10px;
  border: 0.5px solid #3a3f49;
  display: flex;
  align-items: center;
  color: #929aac;
}
.table_wrapper .table .title_column, .table_wrapper .table .title_column a {
  color: #10bba6;
  font-style: italic;
  align-items: flex-start;
}
.table_wrapper .table .title_column a {
  transition: 0.4s;
}
.table_wrapper .table .title_column a:hover {
  color: #be1e28;
}
.table_wrapper .table .title_row .t_column {
  font-style: normal;
  text-align: center;
  justify-content: center;
}
.table_wrapper .table .title_row,
.table_wrapper .table .total_row {
  background: rgba(58, 63, 73, 0.4);
}
.table_wrapper .table .title_row .t_column,
.table_wrapper .table .total_row .t_column {
  background: rgba(58, 63, 73, 0.4);
  font-weight: 400;
  color: #ffffff;
  font-style: normal;
}
.table_wrapper .table .attention {
  color: #be1e28;
}
.table_wrapper .block_pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  min-width: 800px;
}
.table_wrapper .block_pagination .info_block {
  color: #929aac;
  font-style: italic;
  margin-right: 5px;
}
.table_wrapper .block_pagination .btn_block {
  margin-left: 5px;
  display: flex;
  align-items: center;
}
.table_wrapper .block_pagination .btn_block .btn {
  cursor: pointer;
  border: 1px solid #3a3f49;
  border-radius: 4px 4px 0px 0px;
  margin: 0 8px;
  padding: 10px;
  transition: 0.4s;
}
.table_wrapper .block_pagination .btn_block .btn.prev {
  background: rgba(58, 63, 73, 0.1);
  color: #6c6767;
}
.table_wrapper .block_pagination .btn_block .btn.prev:hover {
  color: #ffffff;
}
.table_wrapper .block_pagination .btn_block .btn.next {
  background-color: rgba(190, 30, 40, 0.5);
}
.table_wrapper .block_pagination .btn_block .btn.next:hover {
  background-color: #be1e28;
}

.row {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
  justify-content: space-between;
}

.justify-content-between {
  justify-content: space-between;
}

.none {
  display: none !important;
}

.body-fixed {
  position: fixed;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

.ibg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.ibg img.ibg-img {
  display: none;
}

li.counter {
  list-style-type: none;
  counter-reset: item;
}
li.counter li {
  position: relative;
  padding: 0px 0px 0px 45px;
}
li.counter li:before {
  counter-increment: item;
  content: counter(item);
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  color: #818181;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  line-height: 26px;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  border: 1px solid #4274bb;
}

.video {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%;
}
.video video,
.video iframe,
.video object,
.video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.videobg video,
.videobg iframe,
.videobg object,
.videobg embed {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.wrapper.main {
  padding: 0;
  min-height: 600px;
}
.wrapper.main .form_wrap {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 15px;
  padding-left: 15px;
}
.wrapper.main .form_inner {
  padding: 20px 50px;
  max-width: 500px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #3a3f49;
}
.wrapper.main .form_inner .title {
  text-align: center;
  margin-bottom: 20px;
}
.wrapper.main .form_inner input[type=submit] {
  margin: 0 auto;
}
.wrapper.main .form_inner .link_row {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
}
@media (max-width: 767px) {
  .wrapper.main .form_inner {
    padding: 20px 30px;
  }
}

.registration .subtitle {
  font-weight: 300;
  font-size: 18px;
  margin-bottom: 30px;
}
.registration .title_text {
  display: block;
  width: max-content;
  margin: 0 auto;
  font-size: 18px;
  color: #ffffff;
  padding: 10px 20px;
  border: 1px solid #3a3f49;
  border-radius: 4px;
}
.registration .tabel_wrap {
  width: 100%;
  overflow-x: auto;
  padding-bottom: 30px;
}
.registration .tabel_wrap::-webkit-scrollbar {
  height: 4px;
  width: 3px;
}
.registration .tabel_wrap::-webkit-scrollbar-track {
  background-color: #3a3f49;
}
.registration .tabel_wrap::-webkit-scrollbar-thumb {
  background-color: #ffffff;
}
.registration .column {
  width: 50%;
}
@media (max-width: 1370px) {
  .registration .column {
    width: 100%;
  }
}
.registration .row_select {
  display: flex;
  align-items: flex-start;
}
@media (max-width: 1370px) {
  .registration .row_select {
    flex-direction: column;
  }
}
.registration .select_out {
  padding-left: 35px;
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 1370px) {
  .registration .select_out {
    padding-left: 0;
    margin-left: -5px;
  }
}
.registration .item_current {
  padding: 10px 15px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  border: 1px solid #3a3f49;
  margin: 5px 10px 5px;
}
.registration .item_current label {
  cursor: pointer;
  margin-left: 10px;
  display: block;
  width: 8px;
  height: 8px;
  position: relative;
  transform: rotate(45deg);
}
.registration .item_current label::after, .registration .item_current label::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
}
.registration .item_current label::after {
  width: 100%;
  height: 1px;
}
.registration .item_current label::before {
  height: 100%;
  width: 1px;
}
.registration .steps {
  margin-left: auto;
  margin-bottom: 30px;
  margin-right: 30px;
  width: max-content;
  display: flex;
}
@media (max-width: 1370px) {
  .registration .steps {
    margin-left: -10px;
  }
}
.registration .steps .step {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 450px) {
  .registration .steps .step {
    padding: 10px;
  }
}
.registration .steps .step .text {
  color: #ffffff;
  margin-bottom: 10px;
  opacity: 0;
  pointer-events: none;
}
@media (max-width: 450px) {
  .registration .steps .step .text {
    font-size: 12px;
  }
}
.registration .steps .step .dote {
  height: 5px;
  width: 5px;
  background-color: #3a3f49;
  border-radius: 50%;
  position: relative;
  display: block;
}
.registration .steps .step .dote::after, .registration .steps .step .dote::before {
  content: "";
  position: absolute;
  width: 37.5px;
  height: 1px;
  background-color: #3a3f49;
  top: calc(50% - 0.5px);
}
@media (max-width: 450px) {
  .registration .steps .step .dote::after, .registration .steps .step .dote::before {
    width: 24px;
  }
}
.registration .steps .step .dote::after {
  left: 100%;
  z-index: 5;
}
.registration .steps .step .dote::before {
  right: 100%;
  z-index: 4;
}
.registration .steps .step:first-of-type .dote::before {
  content: none;
}
.registration .steps .step:last-of-type .dote::after {
  content: none;
}
.registration .steps .step.active {
  pointer-events: none;
}
.registration .steps .step.active .text, .registration .steps .step.last .text {
  opacity: 1;
}
.registration .steps .step.active .dote, .registration .steps .step.last .dote {
  background-color: #ffffff;
}
.registration .steps .step.active .dote::before, .registration .steps .step.active .dote::after, .registration .steps .step.last .dote::before, .registration .steps .step.last .dote::after {
  background-color: #ffffff;
}
.registration .steps .step.last .text {
  cursor: pointer;
  transition: 0.4s;
  pointer-events: initial;
}
.registration .steps .step.last .text:hover {
  color: #be1e28;
}
.registration .steps .temp:last-of-type {
  display: none;
}
.registration .content_step {
  padding: 0 30px;
  display: none;
}
.registration .content_step .row {
  align-items: center;
}
@media (max-width: 1370px) {
  .registration .content_step .row {
    flex-direction: column;
  }
}
@media (max-width: 1370px) {
  .registration .content_step {
    padding: 0;
  }
}
.registration .content_step.active {
  display: block;
}
.registration .content_step .input_block {
  width: 50%;
}
@media (max-width: 1370px) {
  .registration .content_step .input_block {
    width: 100%;
  }
}
.registration .content_step .button_row {
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
}
.registration .input_item .item_current {
  margin: 0;
  margin-top: 10px;
}
.registration .content_step_3 .title_text {
  transform: translate(50%, 50%);
  background-color: #1b202a;
}
@media (max-width: 1400px) {
  .registration .content_step_3 .title_text {
    transform: translate(0, 0);
    margin-bottom: 10px;
  }
}
.registration .content_step_3 .tabel {
  min-width: 800px;
  border: 1px solid #3a3f49;
  border-radius: 4px;
  padding: 20px;
  display: flex;
}
.registration .content_step_3 .tabel .column {
  width: calc(100% / 3);
  display: flex;
  flex-direction: column;
}
.registration .content_step_3 .tabel .column.flex-start label:nth-child(4) {
  margin-left: 60px;
}
.registration .content_step_3 .tabel .column.flex-end {
  align-items: flex-end;
}
.registration .content_step_3 .tabel .column.flex-end label:nth-child(4) {
  margin-right: 60px;
}
.registration .content_step_3 .tabel .column.max-width {
  width: 300px;
}
.registration .content_step_3 .tabel .column.max-width label {
  width: 90%;
}
.registration .content_step_3 .tabel .column input[type=radio] {
  display: none;
}
.registration .content_step_3 .tabel .column label {
  cursor: pointer;
  transition: 0.4s;
  height: 100%;
  width: 60%;
  background: rgba(58, 63, 73, 0.2);
  border: 1px solid #3a3f49;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 15px 20px;
  text-align: center;
  margin: 0 10px 40px;
}
.registration .content_step_3 .tabel .column label span {
  color: #ffffff;
}
.registration .content_step_3 .tabel .column label:last-of-type {
  margin-bottom: 0;
}
.registration .content_step_3 .tabel .column input[type=radio]:checked + label {
  color: #ffffff;
  border: 1px solid #be1e28;
}
.registration .content_step_4 .tabel {
  min-width: 1100px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}
.registration .content_step_4 .tabel .row {
  display: flex;
  flex-direction: row;
}
.registration .content_step_4 .tabel .opacity {
  opacity: 0;
}
.registration .content_step_4 .tabel .row {
  display: flex;
  align-items: stretch;
}
.registration .content_step_4 .tabel .row.main .column {
  background: rgba(58, 63, 73, 0.2);
  padding-top: 5px;
  padding-bottom: 5px;
  color: #ffffff;
  min-width: initial;
  min-height: initial;
}
.registration .content_step_4 .tabel .column {
  display: flex;
  cursor: pointer;
  transition: 0.4s;
  align-items: center;
  justify-content: center;
  min-width: 150px;
  min-height: 100px;
  padding: 20px;
  border: 1px solid #3a3f49;
  font-weight: 300;
  font-size: 18px;
}
.registration .content_step_4 .tabel .column:hover {
  color: #ffffff;
}
.registration .content_step_4 .tabel .column:last-of-type {
  width: min-content;
  padding: 0 17px;
  min-width: initial;
  min-height: initial;
  background: rgba(58, 63, 73, 0.2);
}
.registration .content_step_4 .tabel .column.main {
  min-width: initial;
  min-height: initial;
  padding: 11px 11px;
  width: min-content;
  background: rgba(58, 63, 73, 0.2);
}
.registration .content_step_4 .tabel .column.reserved {
  pointer-events: none;
  background: rgba(58, 63, 73, 0.2);
}
.registration .content_step_4 .tabel .column.reserved .number {
  display: none;
}
.registration .content_step_4 .tabel .column.reserved::after {
  content: attr(data-reserved);
}
.registration .content_step_4 .tabel input[type=radio] {
  display: none;
}
.registration .content_step_4 .tabel input[type=radio]:checked + .column {
  font-weight: 500;
  color: #be1e28;
}
.registration .content_step_5 .add_product {
  color: #ffffff;
  font-weight: 300;
  font-size: 18px;
  cursor: pointer;
}
.registration .content_step_5 .input_block {
  margin-bottom: 50px;
  position: relative;
}
.registration .content_step_5 .input_block .subtitle {
  margin-right: 30px;
}
.registration .content_step_5 .input_block + .input_block .delete_product {
  position: absolute;
  width: 15px;
  height: 15px;
  transform: rotate(45deg);
  right: 0;
  top: 2px;
}
.registration .content_step_5 .input_block + .input_block .delete_product:hover::after, .registration .content_step_5 .input_block + .input_block .delete_product:hover::before {
  background-color: #be1e28;
}
.registration .content_step_5 .input_block + .input_block .delete_product::after, .registration .content_step_5 .input_block + .input_block .delete_product::before {
  content: "";
  transition: 0.4s;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border: 2px;
  cursor: pointer;
}
.registration .content_step_5 .input_block + .input_block .delete_product::after {
  width: 100%;
  height: 2px;
}
.registration .content_step_5 .input_block + .input_block .delete_product::before {
  height: 100%;
  width: 2px;
}

.account .title {
  margin-bottom: 40px;
}
.account .content {
  padding: 0 30px;
}
@media (max-width: 767px) {
  .account .content {
    padding: 0;
  }
}
.account .tabels_wrap {
  display: flex;
}
@media (max-width: 1024px) {
  .account .tabels_wrap {
    flex-direction: column;
  }
}
.account .left_tabels {
  width: 35%;
  margin-right: 15px;
}
@media (max-width: 1024px) {
  .account .left_tabels {
    width: 100%;
    margin: 0;
  }
}
.account .right_tabels {
  width: 65%;
  margin-left: 15px;
}
@media (max-width: 1024px) {
  .account .right_tabels {
    width: 100%;
    margin: 0;
  }
}
.account .column {
  display: flex;
  width: 50%;
  margin: 0 15px;
}
.account .column > div {
  width: 100%;
}
.account .column:first-of-type {
  margin-left: 0;
}
.account .column:last-of-type {
  margin-right: 0;
}
@media (max-width: 1024px) {
  .account .column {
    width: 100%;
    margin: 0;
  }
}
.account .tabel_row {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.account .title_text {
  font-size: 20px;
  color: #ffffff;
}
.account .back {
  margin-left: auto;
  background-color: rgba(190, 30, 40, 0.5);
  color: #ffffff;
  padding: 5px;
  border-radius: 4px;
  transition: 0.4s;
}
.account .back:hover {
  background-color: #be1e28;
}

.table_a-info .table {
  min-width: 380px;
}
.table_a-info .t_column:nth-child(1) {
  width: 38%;
}
.table_a-info .t_column:nth-child(2) {
  width: 62%;
}
.table_a-info .block_pagination {
  min-width: 380px;
}

.table_a-document .table {
  min-width: 380px;
}
.table_a-document .t_column:nth-child(1) {
  width: 100%;
}
.table_a-document .block_pagination {
  min-width: 380px;
}

.table_a-niche .table {
  min-width: 680px;
}
.table_a-niche .t_column:nth-child(1) {
  width: 13.2%;
}
.table_a-niche .t_column:nth-child(2) {
  width: 20.6%;
}
.table_a-niche .t_column:nth-child(3) {
  width: 23.5%;
}
.table_a-niche .t_column:nth-child(4) {
  width: 25%;
}
.table_a-niche .t_column:nth-child(5) {
  width: 17.6%;
}
.table_a-niche .block_pagination {
  min-width: 680px;
}

.table_a-products .table {
  min-width: 680px;
}
.table_a-products .t_column:nth-child(1) {
  width: 29.2%;
}
.table_a-products .t_column:nth-child(2) {
  width: 17.7%;
}
.table_a-products .t_column:nth-child(3) {
  width: 11.5%;
}
.table_a-products .t_column:nth-child(4) {
  width: 41.5%;
}
.table_a-products .block_pagination {
  min-width: 680px;
}

.table_a-orders .table {
  min-width: 680px;
}
.table_a-orders .t_column:nth-child(1) {
  width: 25, 4%;
}
.table_a-orders .t_column:nth-child(2) {
  width: 23, 9%;
}
.table_a-orders .t_column:nth-child(3) {
  width: 20, 4%;
}
.table_a-orders .t_column:nth-child(4) {
  width: 14, 8%;
}
.table_a-orders .t_column:nth-child(5) {
  width: 15, 5%;
}
.table_a-orders .block_pagination {
  min-width: 680px;
}

.table_niches .table {
  min-width: 690px;
}
.table_niches .t_column:nth-child(1) {
  width: 13.8%;
}
.table_niches .t_column:nth-child(2) {
  width: 21%;
}
.table_niches .t_column:nth-child(3) {
  width: 23.2%;
}
.table_niches .t_column:nth-child(4) {
  width: 24.6%;
}
.table_niches .t_column:nth-child(5) {
  width: 17.4%;
}
.table_niches .block_pagination {
  min-width: 690px;
}

.table_niche .table {
  min-width: 380px;
}
.table_niche .t_column:nth-child(1) {
  width: 40%;
}
.table_niche .t_column:nth-child(2) {
  width: 60%;
}
.table_niche .block_pagination {
  min-width: 380px;
}

.table_orders.table_wrapper {
  margin-bottom: 50px;
}
.table_orders .table {
  min-width: 840px;
}
.table_orders .t_column:nth-child(1) {
  width: 16%;
}
.table_orders .t_column:nth-child(2) {
  width: 24%;
}
.table_orders .t_column:nth-child(3) {
  width: 23.8%;
}
.table_orders .t_column:nth-child(4) {
  width: 17.2%;
}
.table_orders .t_column:nth-child(5) {
  width: 19%;
}
.table_orders .block_pagination {
  min-width: 840px;
}

.table_order .table {
  min-width: 850px;
}
.table_order .t_column:nth-child(1) {
  width: 25%;
}
.table_order .t_column:nth-child(2) {
  width: 25%;
}
.table_order .t_column:nth-child(3) {
  width: 25%;
}
.table_order .t_column:nth-child(4) {
  width: 25%;
}
.table_order .block_pagination {
  min-width: 850px;
}

.table_product .table {
  min-width: 850px;
}
.table_product .t_column:nth-child(1) {
  width: 25%;
}
.table_product .t_column:nth-child(2) {
  width: 25%;
}
.table_product .t_column:nth-child(3) {
  width: 25%;
}
.table_product .t_column:nth-child(4) {
  width: 25%;
}
.table_product .block_pagination {
  min-width: 850px;
}

.table_product-big .table {
  min-width: 850px;
}
.table_product-big .t_column:nth-child(1) {
  width: 19.2%;
}
.table_product-big .t_column:nth-child(2) {
  width: 30.8%;
}
.table_product-big .t_column:nth-child(3) {
  width: 22.3%;
}
.table_product-big .t_column:nth-child(4) {
  width: 27.7%;
}
.table_product-big .block_pagination {
  min-width: 850px;
}

.table_products .table {
  min-width: 650px;
}
.table_products .t_column:nth-child(1) {
  width: 29.3%;
}
.table_products .t_column:nth-child(2) {
  width: 17.7%;
}
.table_products .t_column:nth-child(3) {
  width: 12%;
}
.table_products .t_column:nth-child(4) {
  width: 41%;
}
.table_products .block_pagination {
  min-width: 650px;
}

.table_notification.table_wrapper,
.table_messages.table_wrapper {
  padding: 0;
  border: none;
}
.table_notification .table,
.table_messages .table {
  min-width: 1400px;
}
.table_notification .t_row,
.table_messages .t_row {
  font-weight: 700;
}
.table_notification .t_row:nth-child(2n+1),
.table_messages .t_row:nth-child(2n+1) {
  font-weight: 300;
  font-style: italic;
}
.table_notification .t_column:nth-child(1),
.table_messages .t_column:nth-child(1) {
  width: 11.8%;
}
.table_notification .t_column:nth-child(2),
.table_messages .t_column:nth-child(2) {
  width: 15.1%;
}
.table_notification .t_column:nth-child(3),
.table_messages .t_column:nth-child(3) {
  width: 17.45%;
}
.table_notification .t_column:nth-child(4),
.table_messages .t_column:nth-child(4) {
  width: 21.25%;
}
.table_notification .t_column:nth-child(5),
.table_messages .t_column:nth-child(5) {
  font-style: italic;
  width: 34.4%;
}
.table_notification .block_pagination,
.table_messages .block_pagination {
  min-width: 1440px;
}

.message_wrap {
  box-sizing: border-box;
}
.message_wrap .message_title {
  font-weight: bold;
  font-size: 20px;
  color: #ffffff;
  margin: 5px 0 20px 5px;
}
@media (max-width: 767px) {
  .message_wrap .message_title {
    font-size: 14px;
    font-weight: 400;
  }
}
.message_wrap .message_block {
  background: #252b3b;
  min-height: 500px;
  max-height: 600px;
  overflow-x: auto;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 30px;
}
@media (max-width: 450px) {
  .message_wrap .message_block {
    min-height: 250px;
    max-height: 350px;
  }
}
@media (max-width: 450px) {
  .message_wrap .message_block {
    padding: 10px;
  }
}
.message_wrap .message_block::-webkit-scrollbar {
  height: 4px;
  width: 3px;
}
.message_wrap .message_block::-webkit-scrollbar-track {
  background-color: #3a3f49;
}
.message_wrap .message_block::-webkit-scrollbar-thumb {
  background-color: #ffffff;
}
.message_wrap .message_block .message_item {
  margin-bottom: 30px;
}
@media (max-width: 450px) {
  .message_wrap .message_block .message_item {
    margin-bottom: 15px;
  }
}
.message_wrap .message_block .message_item.m_data {
  color: #ffffff;
  background: #5a5e66;
  border-radius: 17.5px;
  padding: 10px 20px;
}
@media (max-width: 767px) {
  .message_wrap .message_block .message_item.m_data {
    padding: 10px 25px;
  }
}
.message_wrap .message_block .message_item.m_your, .message_wrap .message_block .message_item.m_my {
  max-width: 45%;
  display: flex;
  align-items: flex-end;
}
@media (max-width: 767px) {
  .message_wrap .message_block .message_item.m_your, .message_wrap .message_block .message_item.m_my {
    max-width: 75%;
  }
}
@media (max-width: 450px) {
  .message_wrap .message_block .message_item.m_your, .message_wrap .message_block .message_item.m_my {
    max-width: 90%;
  }
}
.message_wrap .message_block .message_item.m_your .m_message, .message_wrap .message_block .message_item.m_my .m_message {
  padding: 10px 20px;
  border-radius: 10px;
}
.message_wrap .message_block .message_item.m_your .m_message .m_row, .message_wrap .message_block .message_item.m_my .m_message .m_row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.message_wrap .message_block .message_item.m_your .m_message .m_name, .message_wrap .message_block .message_item.m_my .m_message .m_name {
  margin-right: 10px;
  color: #ffffff;
}
.message_wrap .message_block .message_item.m_your .m_message .m_time, .message_wrap .message_block .message_item.m_my .m_message .m_time {
  color: #be1e28;
  margin-left: 10px;
}
.message_wrap .message_block .message_item.m_your .m_user, .message_wrap .message_block .message_item.m_my .m_user {
  width: 40px;
  height: 40px;
  min-width: 40px;
  min-height: 40px;
  border-radius: 50%;
  overflow: hidden;
}
.message_wrap .message_block .message_item.m_your .m_user img, .message_wrap .message_block .message_item.m_my .m_user img {
  object-fit: contain;
}
.message_wrap .message_block .message_item.m_your {
  align-self: flex-start;
}
.message_wrap .message_block .message_item.m_your .m_message {
  background: rgba(58, 63, 73, 0.5);
  border-bottom-left-radius: 0;
}
.message_wrap .message_block .message_item.m_my {
  align-self: flex-end;
}
.message_wrap .message_block .message_item.m_my .m_message {
  background: rgba(58, 63, 73, 0.8);
  border-bottom-right-radius: 0;
}
.message_wrap .message_input {
  display: block;
  width: 100%;
  height: 120px;
  max-height: 150px;
  padding: 20px;
  resize: none;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #222222;
}
.message_wrap .message_input::placeholder {
  color: #c1c1c1;
  transition: 0.4s;
}
.message_wrap .message_input:focus::placeholder, .message_wrap .message_input:active::placeholder {
  font-size: 0;
  opacity: 0;
}
.message_wrap .input_btns {
  border-top: 1px solid rgba(58, 63, 73, 0.2);
  background-color: #ffffff;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.message_wrap .input_btns .clips_inner {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.message_wrap .input_btns .clips_inner input[type=file] {
  display: none;
}
.message_wrap .input_btns .clips_inner .item_current {
  padding: 5px 10px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  border: 1px solid #3a3f49;
  margin: 0 10px 0 0;
}
.message_wrap .input_btns .clips_inner .item_current label {
  cursor: pointer;
  margin-left: 10px;
  display: block;
  width: 8px;
  height: 8px;
  position: relative;
  transform: rotate(45deg);
}
.message_wrap .input_btns .clips_inner .item_current label::after, .message_wrap .input_btns .clips_inner .item_current label::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #222222;
}
.message_wrap .input_btns .clips_inner .item_current label::after {
  width: 100%;
  height: 1px;
}
.message_wrap .input_btns .clips_inner .item_current label::before {
  height: 100%;
  width: 1px;
}
.message_wrap .input_btns .btn_clip {
  cursor: pointer;
  font-size: 0;
  width: 20px;
  height: 20px;
  background-image: url("../img/svg/clip.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 10px;
}
.message_wrap .input_btns .btn_ok {
  min-width: initial;
}

.disable {
  pointer-events: none;
  opacity: 0;
}

.off {
  pointer-events: none;
  color: rgba(255, 255, 255, 0.5);
}

.logo {
  display: block;
  width: 180px;
  height: 32px;
}
.logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
@media (max-width: 767px) {
  .logo {
    width: 150px;
    height: 27px;
  }
}
@media (max-width: 450px) {
  .logo {
    width: 120px;
    height: 22px;
  }
}

.main.wrapper {
  padding: 0;
}

.title {
  font-size: 32px;
  color: #ffffff;
  margin-bottom: 15px;
}