// <ПОДКЛЮЧЕНИЕ MIXIN>------------------------------------------------------
@import "mixin.scss";
// <ПОДКЛЮЧЕНИЕ MIXIN>------------------------------------------------------

// <ШРИФТЫ>-----------------------------------------------------------------

// <подключаем шрифты>------------------------------------------------------
@import "fonts.scss";
// </подключаем шрифты>-----------------------------------------------------

// <шрифт по умолчанию>-----------------------------------------------------
$font-family: 'Lato', sans-serif;
// </шрифт по умолчанию>----------------------------------------------------

// </ШРИФТЫ>----------------------------------------------------------------

// <ПЕРЕМЕННЫЕ>-------------------------------------------------------------
$max-width: 1470;
$min-width: 320;
$body-font-size: 15;
$padd-container: 15;

$color_text:#929AAC;
$color_1:#BE1E28;

$width_fix:340;
// </ПЕРЕМЕННЫЕ>------------------------------------------------------------

// <ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>---------------------------------------------
@import "resize-style.scss";
// </ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>---------------------------------------------

// <BODY>--------------------------------------------------------------------
body {
    font-size: $body-font-size+px;
    font-family: $font-family;
    position: relative;
    width: 100%;
    overflow-x: hidden;
    color: $color_text;
    line-height: 1.2;

}

// </BODY>--------------------------------------------------------------------

// <ОБОЛОЧКА>----------------------------------------------------------------
.wrapper {
    width: 100%;
    min-height: 100vh;
    background-color: #1b202a;
}
a{
    cursor: pointer;
    color: $color_text;
    transition: 0.4s;
    font-weight: 400;
    &:hover{
        color:$color_1;
    }
}
// </ОБОЛОЧКА>---------------------------------------------------------------

// <КОНТЕЙНЕР>---------------------------------------------------------------
.container {
    margin: 0 15px 0 15px;
    padding: 0 $padd-container+px;
}
.page{
    padding-top: 80px;
}

// </КОНТЕЙНЕР>--------------------------------------------------------------




// <ПОДКЛЮЧЕНИЕ SCSS>-----------------------------------------------
@import "components/input_item.scss";
@import "components/lang.scss";
@import "components/nav_top.scss";

//Компоненты

@import "class.scss";
@import 'header.scss';
@import "main.scss";
@import "footer.scss";
// </ПОДКЛЮЧЕНИЕ SCSS>----------------------------------------------

.logo{
    display: block;
    width: 180px;
    height: 32px;
    img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.title{
    font-size: 32px;
    color: #FFFFFF;
    margin-bottom: 15px;
}
.subtitle{
    font-weight: 300;
    font-size: 18px;
    margin-bottom: 30px;
}
.column{
    width: 50%;
}
.registration{
    .row{
        align-items: center;
    }
    .input{
        width: 100%;
    }
}
.steps{
    margin-left: auto;
    margin-right: 30px;
    width: max-content;
    display: flex;
    .step{
        padding: 0 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .text{ 
            color: #ffffff;
            margin-bottom: 10px;
            opacity: 0;
            pointer-events: none;
        }
        .dote{
            height: 5px;
            width: 5px;
            background-color: #3A3F49;
            border-radius: 50%;
            position: relative;
            display: block;
            &::after,&::before{
                content: '';
                position: absolute;
                width: 40px;
                height: 1px;
                background-color:#3A3F49;
                top: calc(50% - 0.5px);
            }
            &::after{
                left: 100%;
            }
            &::before{
                right: 100%;
            }
           &:active{

           }
        }
        &:first-of-type{
            .dote{
                &::before{
                    content: none;
                }
            }
        }
        &:last-of-type{
            .dote{
                &::after{
                    content: none;
                }
            }
        }
        &.active{
            .text{
                opacity: 1;
                pointer-events: initial;
            }
            .dote{
                background-color: #ffffff;
                &::before,&::after{
                    background-color: #ffffff;
                   z-index: 5;
                }
            }
        }
    }
}