// <ПОДКЛЮЧЕНИЕ MIXIN>------------------------------------------------------
@import "mixin.scss";
// <ПОДКЛЮЧЕНИЕ MIXIN>------------------------------------------------------

// <ШРИФТЫ>-----------------------------------------------------------------

// <подключаем шрифты>------------------------------------------------------
@import "fonts.scss";
// </подключаем шрифты>-----------------------------------------------------

// <шрифт по умолчанию>-----------------------------------------------------
$font-family: 'Lato', sans-serif;
// </шрифт по умолчанию>----------------------------------------------------

// </ШРИФТЫ>----------------------------------------------------------------

// <ПЕРЕМЕННЫЕ>-------------------------------------------------------------
$max-width: 1470;
$min-width: 320;
$body-font-size: 15;
$padd-container: 15;

$color_text:#929AAC;
$color_1:#BE1E28;
// </ПЕРЕМЕННЫЕ>------------------------------------------------------------

// <ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>---------------------------------------------
@import "resize-style.scss";
// </ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>---------------------------------------------

// <BODY>--------------------------------------------------------------------
body {
    line-height: 1.25;
    font-size: $body-font-size+px;
    font-family: $font-family;
    position: relative;
    width: 100%;
    overflow-x: hidden;
    color: $color_text;
    line-height: 1.2;
}

// </BODY>--------------------------------------------------------------------

// <ОБОЛОЧКА>----------------------------------------------------------------
.wrapper {
    width: 100%;
    min-height: 100vh;
    height: 100%;
    background-color: #1b202a;
}

// </ОБОЛОЧКА>---------------------------------------------------------------

// <КОНТЕЙНЕР>---------------------------------------------------------------
.container {
    max-width: $max-width+px;
    margin: 0 auto;
    padding: 0 $padd-container+px;
}

// </КОНТЕЙНЕР>--------------------------------------------------------------

// <ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>---------------------------
@import "class.scss";
// </ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>--------------------------

// <ШАПКА>-------------------------------------------------------------------
@import 'header.scss';
// </ШАПКА>------------------------------------------------------------------

// <ОСНОВНОЙ БЛОК>-----------------------------------------------------------

input,
textarea {
    &.error {
        border-color: red;
    }
}

// </ОСНОВНОЙ БЛОК>----------------------------------------------------------

// <404>---------------------------------------------------------------------
//===========================================================================
// </404>--------------------------------------------------------------------

// <ПОДВАЛ>------------------------------------------------------------------
@import "footer.scss";
// </ПОДВАЛ>-----------------------------------------------------------------

// <ПОПАП>-------------------------------------------------------------------
@import "popup.scss";
// </ПОПАП>------------------------------------------------------------------

// <ПРОКРУТКА ВВЕРХ>---------------------------------------------------------
.scroll-up {
    position: fixed;
    right: 50px;
    bottom: 50px;
    z-index: 100;
    width: 45px;
    height: 45px;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: inset 0 0 0 3px #dcdcdc;
    @include anim(0.4s, 0s);
    transform: translateY(25px);
    opacity: 0;
    visibility: hidden;

    &:before {
        content: '';
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
        border: 3px solid red;
        width: 10px;
        height: 10px;
        border-right-width: 0;
        border-bottom-width: 0;
        transition: inherit;
        opacity: 0.6;
    }

    &__path {
        box-sizing: border-box;
        fill: none;
        stroke: red;
        stroke-width: 3px;
        @include anim(0.4s, 0s);
    }

    &.scroll-up_active {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }

    &:hover {
        &:before {
            border-color: red;
            opacity: 1;
        }
    }
}

// </ПРОКРУТКА ВВЕРХ>--------------------------------------------------------

// <ПОДКЛЮЧЕНИЕ SCSS>-----------------------------------------------
@import "main.scss";
// </ПОДКЛЮЧЕНИЕ SCSS>----------------------------------------------

.input_item{
     display: flex;
     flex-direction: column;
     align-items: flex-start;


    .required{
        position: relative;
        &::after{
            content: "*";
            color: $color_1;
            position: absolute;
            right: -10px;
            top: 0;
        }
    }
    .title{
        display: inline-block;
        margin-bottom: 10px;
        order: 1;
        transition: 0.4s;
    }
    .input{
        order: 2;
        padding: 10px 15px;
        background-color: transparent;
        border: 1px solid #3A3F49;
        border-radius: 4px;
        color: $color_text;
        font-size: 15px;
        &input:active,&:focus{
            &+.title{
                color: #ffffff;
            }
        }
    }
}