.button_1,
.button_2 {
    display: block;
    min-width: 185px;
    text-align: center;
    padding: 10px 20px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 700;
    cursor: pointer;
    border-radius: 4px;
    transition: 0.4s;
    @media (max-width: 767px) {
        min-width: initial;
    }
}
.button_1 {
    border: 2px solid #ffffff;
    background: rgba(58, 63, 73, 0.2);
    &:hover {
        background: rgba(58, 63, 73, 0.8);
    }
}
.button_2 {
    border: 2px solid $color_1;
    background-color: transparentize($color: $color_1, $amount: 0.5);
    &:hover {
        background-color: transparentize($color: $color_1, $amount: 0);
    }
}
