.input_item{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 15px;
  .required{
    position: relative;
    &::after{
      content: "*";
      color: $color_1;
      position: absolute;
      right: -10px;
      top: 0;
    }
  }
  .title_input{
    display: inline-block;
    margin-bottom: 10px;
    order: -1;
    transition: 0.4s color;
  }
  .input_text{
    width: 100%;
    padding: 10px 15px;
    background-color: transparent;
    border: 1px solid #3A3F49;
    border-radius: 4px;
    color: $color_text;
    font-size: 15px;
    &::placeholder{
      transition: 0.3s;
      font-size: inherit;
      color: #5A5E66;
    }
    &.error{
      border: 1px solid $color_1;
    }
    &:active,&:focus{
      color: #ffffff;
      &::placeholder{
        opacity: 0;
      }
      &+.title_input{
        color: #ffffff;
      }
    }
  }
  input[type="file"]{
    display: none;
  }
  .input_file{
    font-size: 15px;
    padding: 10px 20px;
    border: 1px solid #ffffff;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.4s color;
    min-width: 185px;
    text-align: center;
    &:hover{
      color: #ffffff;
    }
  }

  .input_inner{
    display: flex;
    .input_radio{
      display: flex;
      &+.input_radio{
        margin-left: 20px;
      }
     input[type='radio']{
       display: none;
     }
      label{
        cursor: pointer;
        padding-left: 15px;
        position: relative;
        color: #ffffff;
        &:after{
          content: '';
          position: absolute;
          width: 10px;
          height: 10px;
          border: 2px solid #3A3F49;
          border-radius: 50%;
          left: 0;
          top: calc(50% - 5px);
        }
        &:before{
          content: '';
          position: absolute;
          width: 4px;
          height: 4px;
          background-color: #ffffff;
          border-radius: 50%;
          left: 3px;
          top: calc(50% - 2px);
          opacity: 0;
        }
      }
      input[type='radio']:checked{
        &+label{
          &:before{
            opacity: 1;
          }
        }
      }
    }
  }
  ///Select///
.select {
  position: relative;
  margin-bottom: 20px;
  width: 300px;
}

.select__header {
border: 1px solid #c7c7c7;
cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 8px;
  height: 60px;   
  padding-left: 10px;
}
.select__current {
font-size: 18px;
padding: 8px;
}
.select__icon {
align-items: center;
display: flex;
flex-shrink: 0;
justify-content: center;
height: 12px;
  margin-left: auto;
  margin-right: 15px;
text-align: center;
  width: 12px;
  background-image: url(../images/down-arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.select__body {
  border: 1px solid  #c7c7c7;
  border-radius: 8px;
  background-color: #ffffff;
border-top: 0;
display: none;
left: 0;
position: absolute;
  right: 0;
  z-index: 5;
  top: 100%;
}
.select__item {
cursor: pointer;
font-size: 16px;
line-height: 24px;
padding: 8px;
}

.select__item:hover {
background-color: #f2f2f2;
}

.is-active .select__body {
  display: block;
}
.is-active .select__icon{
  background-image: url(../images/up-arrow.svg);
}
}