.input_item{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 15px;
  .required{
    position: relative;
    &::after{
      content: "*";
      color: $color_1;
      position: absolute;
      right: -10px;
      top: 0;
    }
  }
  .title_input{
    display: inline-block;
    margin-bottom: 10px;
    order: 1;
    transition: 0.4s;
  }
  .input{
    order: 2;
    padding: 10px 15px;
    background-color: transparent;
    border: 1px solid #3A3F49;
    border-radius: 4px;
    color: $color_text;
    font-size: 15px;
    &::placeholder{
      transition: 0.3s;
      font-size: inherit;
      color: #5A5E66;
    }
    &.error{
      border: 1px solid $color_1;
    }
    &input:active,&:focus{
      &::placeholder{
        opacity: 0;
      }
      &+.title_input{
        color: #ffffff;
      }
    }
  }
}