.nav_bar {
  top: 0;
  left: 0;
  position: fixed;
  background: linear-gradient(180deg, #252b3b 0%, #1b202a 100%);
  height: 100vh;
  width: $width_fix + px;
  display: flex;
  flex-direction: column;

  @media (hover: none) and (pointer: coarse), (max-width: 1024px) {
    width: 100%;
    pointer-events: none;
    opacity: 0;
    z-index: 120;
  }

  &.active {
    pointer-events: initial;
    opacity: 1;
  }
  .df {
    display: flex;
    align-items: center;
  }
  .close_menu {
    display: none;
    margin-left: 15px;
    width: 15px;
    height: 15px;
    position: relative;
    transform: rotate(45deg);
    cursor: pointer;
    @media (hover: none) and (pointer: coarse), (max-width: 1024px) {
      display: block;
    }
    &::after,
    &:before {
      content: "";
      background-color: #ffffff;
      position: absolute;
      top: 50%;
      left: 50%;
      background-color: #ffffff;
      transform: translate(-50%, -50%);
    }
    &::after {
      width: 100%;
      height: 1px;
    }
    &::before {
      width: 1px;
      height: 100%;
    }
  }
  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
    margin-bottom: 80px;
    @media (max-width: 767px) {
      padding: 20px 10px;
    }

    .notice {
      position: relative;

      .icon {
        width: 16px;
        height: 16px;
        fill: #929aac;
      }

      &.new {
        &:after {
          content: "";
          position: absolute;
          width: 6px;
          height: 6px;
          background-color: $color_1;
          top: 2px;
          right: 1px;
          border-radius: 50%;
        }
      }
    }
  }

  .center {
    flex: 1 1 auto;

    .menu_item {
      padding: 0 0 0 65px;
      position: relative;
      @media (hover: none) and (pointer: coarse), (max-width: 1024px) {
        padding: 0;
        text-align: center;
      }
    }

    .menu_item {
      margin-bottom: 25px;

      &:last-of-type {
        margin-bottom: 0;
      }

      &.active {
        &:after {
          content: "";
          width: 40px;
          height: 1px;
          background-color: #ffffff;
          position: absolute;
          top: calc(50% - 0.5px);
          left: 0;
        }

        &:before {
          content: "";
          width: 6px;
          height: 6px;
          background-color: #ffffff;
          transform: rotate(45deg);
          position: absolute;
          left: 37px;
          top: calc(50% - 3px);
        }
        @media (hover: none) and (pointer: coarse), (max-width: 1024px) {
          &::after,
          &::before {
            content: none;
          }
        }
        .menu_link {
          font-weight: 600;
          color: #ffffff;

          &:hover {
            color: #ffffff;
          }
        }
      }
    }

    .menu_link {
      font-weight: 500;
      font-size: 16px;
      color: $color_text;
      transition: 0.4s;
      @media (max-width: 767px) {
        font-size: 14px;
      }

      &:hover {
        color: $color_1;
      }
    }
  }

  .bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
    font-size: 13px;
    @media (max-width: 767px) {
      padding: 20px 10px;
    }
  }
}

.main_block {
  position: relative;
  width: 100%;
  .top_wrap {
    font-size: 16px;
    background-color: #1b202a;
    width: calc(100% - (#{$width_fix}px));
    top: 0;
    left: 0;
    margin-left: $width_fix + px;
    position: fixed;
    z-index: 100;
    @media (hover: none) and (pointer: coarse), (max-width: 1024px) {
      width: 100%;
      margin-left: 0;
    }
    @media (max-width: 767px) {
      font-size: 14px;
    }
    .top_inner {
      @media (hover: none) and (pointer: coarse), (max-width: 1024px) {
        padding: 20px 60px 20px 15px;
      }
    }
  }
  .user {
    margin-left: 50px;
    margin-right: 30px;
    display: flex;
    align-items: center;
    @media (hover: none) and (pointer: coarse), (max-width: 1024px) {
      margin-left: 0;
      margin-right: 0;
    }
    .photo {
      width: 32px;
      height: 32px;
      border-radius: 50px;
      display: block;
      background-color: #ffffff;
      margin-right: 10px;
      object-fit: contain;
    }
  }
  .logo {
    display: none {

    }
    @media (hover: none) and (pointer: coarse), (max-width: 1024px) {
      display: block;
    }
  }
  .log {
    color: #ffffff;
    transition: 0.4s;
    &:hover {
      color: $color_1;
    }
  }
}

.top_wrap {
  background-color: #1b202a;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #ffffff;

  .top_inner {
    right: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
    position: relative;
  }

  .button_burger {
    display: none;
    position: absolute;
    right: 10px;
    top: calc(50% - 10px);
    width: 30px;
    height: 20px;
    width: 30px;
    height: 20px;
    cursor: pointer;
    user-select: none;
    &::after,
    &::before,
    span {
      content: "";
      position: absolute;
      height: 1px;
      background-color: #ffffff;
      right: 0;
      pointer-events: none;
    }
    &::after {
      width: 50%;
      top: 0;
    }
    span {
      width: 75%;
      top: calc(50% - 0.5px);
    }
    &::before {
      width: 100%;
      bottom: 0;
    }

    @media (hover: none) and (pointer: coarse), (max-width: 1024px) {
      display: block;
    }
  }
  .left {
    display: flex;
    flex-direction: column;

    .text {
      font-weight: 300;
      font-size: 24px;
      line-height: 1.2;
      letter-spacing: 0.02em;
      @media (hover: none) and (pointer: coarse), (max-width: 1024px) {
        font-size: 14px;
      }
      @media (max-width: 767px) {
        font-size: 12px;
      }
      @media (max-width: 450px) {
        font-size: 9px;
      }
    }
  }

  .logo {
    margin-bottom: 10px;
  }

  .right {
    display: flex;
    align-items: center;
    @media (hover: none) and (pointer: coarse), (max-width: 1024px) {
      flex-direction: column;
      align-items: flex-end;
    }
  }
}
