.table_wrapper {
    border: 1px solid #3a3f49;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 15px 25px;
    font-size: 20px;
    color: #ffffff;
    overflow-x: auto;
    margin-bottom: 30px;
    &::-webkit-scrollbar {
        height: 4px;
        width: 3px;
    }

    &::-webkit-scrollbar-track {
        background-color: #3a3f49;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #ffffff;
    }

    .table_title {
        margin-bottom: 20px;
    }
    .table {
        min-width: 800px;
        margin-bottom: 25px;
        border-radius: 4px 4px 0 0;
        overflow: hidden;
        .t_row {
            display: flex;
            &:nth-child(2n + 1) {
                background: rgba(58, 63, 73, 0.1);
            }
        }
        .t_column {
            width: 100%;
            max-width: 100%;
            padding: 7px 10px;
            border: 0.5px solid #3a3f49;
            display: flex;
            align-items: center;
            color: #929aac;
        }
        .title_column {
            color: #10bba6;
            font-weight: 700;
            font-style: italic;
            align-items: flex-start;
        }
        .title_row {
            .t_column {
                font-style: normal;
                text-align: center;
                justify-content: center;
            }
        }
        .title_row,
        .total_row {
            background: rgba(58, 63, 73, 0.4);
            .t_column {
                background: rgba(58, 63, 73, 0.4);
                font-weight: 400;
                color: #ffffff;
                font-style: normal;
            }
        }
        .attention {
            color: $color_1;
        }
    }
    .block_pagination {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;
        min-width: 800px;
        .info_block {
            color: #929aac;
            font-style: italic;
            margin-right: 5px;
        }
        .btn_block {
            margin-left: 5px;
            display: flex;
            align-items: center;
            .btn {
                cursor: pointer;
                border: 1px solid #3a3f49;
                border-radius: 4px 4px 0px 0px;
                margin: 0 8px;
                padding: 10px;
                transition: 0.4s;
                &.prev {
                    background: rgba(58, 63, 73, 0.1);
                    color: #6c6767;
                    &:hover {
                        color: #ffffff;
                    }
                }
                &.next {
                    background-color: transparentize($color: $color_1, $amount: 0.5);
                    &:hover {
                        background-color: transparentize($color: $color_1, $amount: 0);
                    }
                }
            }
        }
    }
}
